<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class=scroll>


  <% include ../partials/nav_2.ejs %>

<div class="jumbotron text-center">
  <div id=header>
	
	<table>
<tr>
<td><a href="/" class="lang-logo">
      <img src="/logo.gif">
    </a></td>
    <td><span class=text-big  bold>&nbsp;&nbsp;&nbsp;State-of-the-Art</span></td><td><span class=text-medium>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;World's Knowledge Exchange</span></td>
 </tr>
 </table>
	
</div>
<div>
	<h5>Get the answers...you are looking for, answer to questions you know.&nbsp;&nbsp;Online community for knowledge & wisdom lovers.</h5>
	<h5>Sign Up is optional. Ask and answer as anoymous user...without any hesiations !</h5>
</div>


    
     <div id=header>
	<h2>Index of Subjects & Questions</h2>
</div>
<div class="container">

 <h2>Index of Questions asked</h2>
<ul class = white>
    <% results.forEach(function(r) { %>
    <!--<h2><%= r.question %></h2>-->
        <li><%= r.id %>- <a href=><%= r.question %></a>&nbsp;&nbsp;&nbsp; -asked by  - <%= r.name %> <%= r.last_name %>. </li>
    <% }); %>
</ul>

</div>

</body>
</html>
